@{
    ViewData["Title"] = "Hobby Page";
}
<!DOCTYPE html>
<html lang="en">

<style>
    .title-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .title-container img {
        margin-right: 10px;
    }
</style>

<body>
<div class="text-center">
    <div class="title-container">
        <img src="~/ThriftingLogo.png" alt="Thrifting Logo" class="navbar-logo" width="100" height="100">
        <h1 class="display-4">Thrifting</h1>
    </div>
    <br/>

    <!-- into heading -->
    <h4>Want to wear clothes that are in style, but at half or less the price?</h4>
    <br/>

    <!-- image of thrift store -->
    <img src="~/IndyClover.jpg" alt="Indy Clover Logo" width="350" height="300">
    <br/>
    <br/>

    <!-- paragraphs talking about thrifting -->
    <p>After I got home from my mission I was tired of spending 100s of dollars on clothes every year trying to wear what was in
        "style". Around this same time new used clothes resell shops opened up like Indy Clover and Preloved Provo. These stores let people
        rent out booths in their store and sell the clothes they no longer want/need. Each week is hit or miss when it comes to what is in these
        stores, but I have found that most of the clothes are higher quality, in better condition, and usually cheaper than other thrift stores
        like Platos Closet or Uptown Cheapskate.</p>
    <p>Another thing I like about these thrift stores is that they discount the clothes throughout the week. Each booth is rented weekly, so at
        the end of the week there are discount days, where the booths are 25%-90% off their already cheap prices. This means you can get super nice
        name brand clothing for just dollars. Now almost every week I stop by a few of these stores and see what new deals I can find. I don't think I
        spent more than $30 on a single item. The item was an Arc'teryx jacket that is usually $300, and it looked like it was brand new. This is crazy
        because most shirts today are around $30. The average price I probably spend on an item is around $8. </p>
    <br/>

    <!-- non-editable box of charge per hour -->
    <img src="~/29A5B01D-6654-47BA-9CEB-3AE76182DC79_1_105_c.jpeg" alt="Arc'teryx Jacket" width="250" height="300">
    <br/>

    <p>The Arc'teryx jacket I found</p>

    <p>Now almost all of my clothes I have bought second hand, but no one would be able to tell because almost everything looks brand new. It has ruined
        my shopping. I can't buy hardly anything from stores new because if it is over $15 It is too expensive. It has helped me to save so much money while
        still getting almost new clothes that are in "style".</p>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>